# These owners will be the default owners for everything in
# the repo and will be requested for
# review when someone opens a pull request.
* jmsharp@utah.gov ahaws@utah.gov chwardle@utah.gov ggrimaud@utah.gov
