/*
############     _elements-index.scss      ############
elemental html: h1, h2, h3, ul, li, etc.
*/
@use "../../../../@utahdts/utah-design-system/css/1-settings/color-swatches";
@use "../../../../@utahdts/utah-design-system/css/1-settings/class-vars";

html {
  scroll-behavior: smooth;
}
#root {
  min-height: calc(100vh - 125px);
  background: color-swatches.$neutral-gray-04;
}

#{class-vars.$base-class} {
  background-color: white;
}

ul.checkbox-list, ul.checkbox-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    position: relative;
    padding-left: 24px; /* Space for the custom marker */

    &::before {
      content: '\2610'; /* Unicode for ballot box (empty checkbox) */
      position: absolute;
      left: 0;
      top: -5px;
      font-size: 1.5rem;
      color: #333;
    }
    &.checked::before {
      content: '\2611'; /* Unicode for ballot box with check */
    }
  }
}
ul.checkbox-list ul {
  li {
    padding-left: 22px; /* Space for the custom marker */
    &::before {
      top: -3px;
      font-size: 1.2rem;
    }
  }
}

