@use "../../../1-settings/color-swatches";
@use "../../../1-settings/class-vars";
/*
############     _icon-button.scss      ############
*/
#{class-vars.$base-class} {

  .icon-button {
    border-radius: 999px;
    font-size: 1rem;
    min-height: 36px;
    min-width: 36px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &--borderless {
      border-color: transparent;
      background: transparent;
      &:hover {
        color: var(--gray-dark-color);
        background: var(--hover-gray-color);
      }
      &.button--primary-color {
        &:hover {
          color: var(--primary-color-dark);
        }
      }
      &.button--secondary-color {
        &:hover {
          color: var(--secondary-color-dark);
        }
      }
      &.button--accent-color {
        &:hover {
          color: var(--accent-color-dark);
        }
      }
      @at-root #{class-vars.$primary-color-is-light}#{&} {
        &.button--primary-color {
          border-color: transparent;
          &:hover {
            color: var(--primary-color-dark);
            background: var(--hover-gray-color);
          }
        }
      }
      @at-root #{class-vars.$secondary-color-is-light}#{&} {
        &.button--secondary-color {
          border-color: transparent;
          &:hover {
            color: var(--secondary-color-dark);
            background: var(--hover-gray-color);
          }
        }
      }
      @at-root #{class-vars.$accent-color-is-light}#{&} {
        &.button--accent-color {
          border-color: transparent;
          &:hover {
            color: var(--accent-color-dark);
            background: var(--hover-gray-color);
          }
        }
      }
      &[disabled], &[disable]:hover {
        border-color: transparent;
      }
    }

    &__icon {
      transition: all var(--timing-quick) ease-in-out;
      &--rotate180 {
        transform: rotate(180deg);
      }
    }

    [class*='utds-icon-before-'] {
      line-height: .5;
      &::before {
        margin: 0;
        font-size: 20px;
      }
    }

  }
}
