.utds {
 &-action-items-wrapper {
  display: flex;
 }
 &-header-action-item {
  display: flex;
  align-items: center;
  margin: 0 var(--spacing-l) 0 0;
  position: relative;
  &__icon-button {
    &.icon-button {
      border: 2px solid transparent;
      position: relative;
      padding: 0 var(--spacing-s);
      &:hover {
        background: var(--hover-gray-color);
        color: black;
        svg {
          fill: black;
        }
      }
    }
    svg {
      width: 20px;
      height: 20px;
      fill: var(--gray-color);
    }
    &.icon-waffle {
      svg {
        width: 17px;
        height: 17px;
      }
    }
  }
  &__title {

  }
 }
}
