@use "../../../library/css/1-settings/settings-index";
@use "../../../library/css/1-settings/spacing";

// Drop Shadow Color
$dsc: rgb(0,0,0);

.utds-popup {
  &__wrapper {
    position: absolute;
    z-index: 100;
    background: none transparent;
    // initial position so that the popup doesn't go off the screen
    left: 0;
    top: 0;

    transition: opacity 100ms ease-in-out;

		&--visible {
			opacity: 1;
			.utds-popup__content {
				transform: scale(1);
			}
		}
		&--hidden {
			opacity: 0;
			pointer-events: none;
			.utds-popup__content {
				transform: scale(.7);
			}
		}
  }
  &__content {
    background: white;
    border-radius: var(--radius-medium);
    border: 1px solid var(--gray-3-1-contrast);
    box-sizing: border-box;
    min-width: 200px;
    padding: var(--spacing);
    transition: transform 100ms ease-in-out;
    box-shadow: var(--elevation-small);
  }

  &__arrow {
		visibility: hidden;

		&, &::before {
			position: absolute;
			width: 11px;
			height: 11px;
			background: inherit;
			z-index: -1;
		}

		&::before {
			visibility: visible;
			content: '';
			transform: rotate(45deg);
		}
	}


  &__content[data-popper-placement^='top'] {
    .utds-popup__content {
      // box-shadow: 0 3px 5px -1px rgba($dsc,.2), 0 15px 20px 0 rgba($dsc,.14), 0 1px 18px 0 rgba($dsc,.12);
			transform-origin: bottom;
		}
		.utds-popup__arrow {
			bottom: -4px;
      &::before {
        border-bottom: 1px solid var(--gray-3-1-contrast);
        border-right: 1px solid var(--gray-3-1-contrast);
      }
		}
	}

  &__wrapper[data-popper-placement^='bottom'] {
    .utds-popup__content {
      // box-shadow: 0 3px 5px -1px rgba($dsc,.2), 0 -15px 20px 0 rgba($dsc,.14), 0 1px 18px 0 rgba($dsc,.12);
			transform-origin: top;
		}
		.utds-popup__arrow {
			top: -7px;
      &::before {
        border-top: 1px solid var(--gray-3-1-contrast);
        border-left: 1px solid var(--gray-3-1-contrast);
      }
		}
	}

	&__wrapper[data-popper-placement^='left'] {
    .utds-popup__content {
      // box-shadow: 0 3px 5px -1px rgba($dsc,.2), 15px 0 20px 0 rgba($dsc,.14), 0 1px 18px 0 rgba($dsc,.12);
			transform-origin: right;
		}
		.utds-popup__arrow {
			right: -4px;
      &::before {
        border-top: 1px solid var(--gray-3-1-contrast);
        border-right: 1px solid var(--gray-3-1-contrast);
      }
		}
	}

	&__wrapper[data-popper-placement^='right'] {
    .utds-popup__content {
      // box-shadow: 0 3px 5px -1px rgba($dsc,.2), -15px 0 20px 0 rgba($dsc,.14), 0 1px 18px 0 rgba($dsc,.12);
			transform-origin: left;
		}
		.utds-popup__arrow {
			left: -4px;
      &::before {
        border-bottom: 1px solid var(--gray-3-1-contrast);
        border-left: 1px solid var(--gray-3-1-contrast);
      }
		}
	}

}
