@use "../../../library/css/1-settings/settings-index";
@use "../../../library/css/1-settings/spacing";

.utds-header {
  padding: var(--spacing-s) var(--spacing-l);
  border-bottom: 1px solid #d7d7d7 !important;
  width: 100%;
  justify-content: flex-start;
  height: 78px;
  position: relative;
  box-sizing: border-box;

  &--large {
    height: 84px;
  }
}
