@use "../../../library/css/1-settings/settings-index";
@use "../../../library/css/1-settings/spacing";

.utds {
  &-logo-wrapper {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &-logo-vert-line {
    height: 85%;
    width: 1px;
    background-color: #707070;
    margin: 0 var(--spacing);
    display: block;
  }
  &-title-wrapper {
    font-size: var(--font-size-3xl);
    font-weight: 600;
    color: var(--gray-medium-color);
  }
}
.utah-logo-svg {
  height: 100%;
  position: relative;
  margin-bottom: -4px;
  svg {
    height: 100%;
    width: auto;
    fill: var(--primary-color);
    font-family: SourceSansPro-Regular, 'Source Sans Pro';
    font-size: 14px;
  }
}
