/* @media is never in scope for --variables, so this is the only way to solve this. :-( */

.utah-design-system.utds-header-mobile-menu,
.utah-design-system .utds-header-mobile__utah-id-wrapper,
.utah-design-system .main-menu__hamburger,
.utah-design-system .utds-header-mobile__vip-action-items--left,
.utah-design-system .utds-header-mobile__vip-action-items--right {
  display: none;
}

@media screen and (max-width: media-size__tablet-landscape__PLACEHOLDER) {
  /* put your media query here for tablet landscape */
}

@media screen and (max-width: media-size__tablet-portrait__PLACEHOLDER) {
  .utds-header {
    height: 60px;
    padding: var(--spacing-xs) var(--spacing);
  }
  .utds-title-wrapper {
    font-size: var(--font-size-xl);
  }
  .utds-citizen-experience-wrapper {
    display: none;
  }
  .utah-design-system .main-menu__nav {
    display: none;
  }
  .utah-design-system.utds-header-mobile-menu,
  .utah-design-system .utds-header-mobile__utah-id-wrapper,
  .utah-design-system .main-menu__hamburger,
  .utah-design-system .utds-header-mobile__vip-action-items--left,
  .utah-design-system .utds-header-mobile__vip-action-items--right {
    display: block;
  }
}

@media screen and (max-width: media-size__mobile__PLACEHOLDER) {
  /* put your media query here for mobile */
}
