@use "../../1-settings/class-vars";

.utds-citizen-experience-wrapper {
  display: flex;
  justify-content: flex-end;
  flex: 1;

  &--mobile {
    display: none;
  }

  .main-menu__search {
    margin-right: var(--spacing);
  }

}

#{class-vars.$base-class} {
  .utds-utah-id__button {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding: 0 var(--spacing);
  }
}

