.utds {
  &-header {
    padding: var(--spacing-s) var(--spacing);
    border-bottom: 1px solid #d7d7d7 !important;
    width: 100%;
    justify-content: flex-start;
    height: 78px;
    position: relative;
    z-index: 3000;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: white;

    &--large {
      height: 84px;
    }

    &--small {
      height: 60px;
    }

    & + .main-menu__outer {
      .menu-item a[href].menu-item--selected,
      .vertical-menu a[href].vertical-menu__link-title:hover,
      .vertical-menu button.vertical-menu__button-title:hover {
        color: var(--header-primary-color);
      }
      .horizontal-menu > ul li a[href].menu-item--selected + span.menu-chiclet::after {
        background-color: var(--header-primary-color);
      }
    }
  }
}
.utds-header-desktop--hidden {
  display: none !important;
}
