@use "../../../../../library/css/1-settings/class-vars";

#{class-vars.$base-class} {
  .copy-button {
    position: absolute;
    top: 4px;
    right: 4px;

    &__feedback {
      position: absolute;
      background: var(--gray-color);
      border: 1px solid white;
      border-radius: var(--radius-small);
      color: white;
      padding: var(--spacing-3xs) var(--spacing-s);
      transition: opacity var(--timing-quick) ease-in;
      opacity: 0;
      pointer-events: none;
      font-size: var(--font-size-s);
      &--visible {
        opacity: 1;
      }
    }
    &__button {

    }

  }
}
