@use "../../../../../library/css/1-settings/class-vars";

#{class-vars.$base-class} {
.icon-example {
  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-bottom: 1px solid var(--gray-border);
    border-right: 1px solid var(--gray-border);
    border-radius: 0;
    font-size: 2rem;
    padding: var(--spacing-s) var(--spacing-xs);
    flex: 0 1 auto;

    [class*='utds-icon-before-'] {
      line-height: 1;
    }
    .utds-icon-before-external-link::before,
    .utds-icon-after-external-link::after {
      font-size: 1em;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-top: 1px solid var(--gray-border);
    border-left: 1px solid var(--gray-border);
  }

  &__static {
    .pre-code-block {
      code {
        padding: 0;
        background: none;
      }
    }
    .static-example__component-wrapper {
      justify-content: flex-start;
    }
  }

  &__icon-big {
    font-size: 4rem;
    line-height: 1;
    padding: 0 var(--spacing);
    border-right: 1px solid var(--gray-border);

    .utds-icon-before-external-link::before,
    .utds-icon-after-external-link::after {
      font-size: 1em;
    }

    [class*='utds-icon-before-'] {
      display: flex;
      align-items: center;
    }
    .visually-hidden {
      font-size: 1rem;
    }
  }

  &__icon-with-text {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-l);
    font-size: 1rem;
    padding: var(--spacing-xs) var(--spacing);
    border-right: 1px solid var(--gray-border);

    & > div {
      display: flex;
      align-items: center;
    }
    [class*='utds-icon-before-'] {
      display: flex;
      align-items: center;
    }
  }

}
}
