@use "../../../../../library/css/1-settings/color-swatches";

.sandbox-example {
  &__code-editor-wrapper {
    position: relative;
    border: 1px solid var(--gray-color);
    border-radius: var(--radius-small);
    width: 100%;
  }
  &__code-editor {
    font-family: var(--fixed-width-font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-2xs);
    width: 100%;
    min-height: 546px;
    resize: none;
    padding-bottom: var(--spacing-xl);
    display: block;
    border: none;
  }

  &__component {
    gap: var(--spacing-xs);
    flex-direction: column;

    .copy-button {
      top: 5px;
      right: 5px;
    }
  }

  &__code-info {
    font-family: var(--fixed-width-font-family);
    position: absolute;
    bottom: 0;
    left: calc(0 - var(--spacing));
    font-size: var(--font-size-2xs);
    background: var(--gray-border);
    width: 100%;
    text-align: center;
    border-bottom-left-radius: var(--radius-small);
    border-bottom-right-radius: var(--radius-small);
  }
  &__code-error {
    font-family: var(--fixed-width-font-family);
    display: flex;
    align-items: center;
    gap: var(--spacing-2xs);
    background-color: color-swatches.$rose-red-04;
    color: white;
    font-size: var(--font-size-s);
    padding: var(--spacing-s);
    border-radius: var(--radius-small);
    [class*='utds-icon-before-']::before {
      font-size: 1.5rem;
      display: block;
    }
  }
}

.header-config {
  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .input-wrapper {
      margin: 0;
    }
  }
  &__controls {
    display: flex;
    flex-direction: column;
    max-width: 250px;
  }
  &__presets {
    flex: 1;

  }
  &__apply-reset {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);

  }
}

.interactive-utah-header-preset {

  &__options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-2xs);
  }
  &__single-option {
    flex: 1 1 40%;
    button {
      width: 100%;
    }
  }
}

h1.agency-brand-example {
  margin: 0;
}
