@use "../../../1-settings/class-vars";
@use "../../../1-settings/color-swatches";

#{class-vars.$base-class} {
  .menu-item--mega-menu {
    .popup__content {
      padding: var(--spacing) var(--spacing-l);
      &>ul {
        display: flex;
        gap: var(--spacing-xl);

        &>li {
          font-weight: bold;
          font-size: var(--font-size-m);

          &>ul {
            font-size: var(--font-size);
            font-weight: var(--font-weight-semi-bold);
          }
        }
      }
    }
  }
}
