.utah-design-system {
  --primary-color: #056977;
  --primary-color-dark: #044b55;
  --primary-color-light: #0CA4A5;

  --secondary-color: #774f3a;
  --secondary-color-dark: #4c3326;
  --secondary-color-light: #97654a;

  --accent-color: #ffb100;
  --accent-color-dark: #745a1e;
  --accent-color-light: #fff9ec;
}
