@use "../../../../../@utahdts/utah-design-system/css/1-settings/color-swatches";

.a11y-checklist {
  .tag {
    &--error, &--warning{
      background-color: color-swatches.$red-rock-17;
      padding-left: var(--spacing-s);
      border: 1px solid color-swatches.$red-rock-10;

      &::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 20px;
        left: 0;
        background-color: color-swatches.$red-rock-04;
        border-bottom-left-radius: var(--radius-small);
        border-top-left-radius: var(--radius-small);
      }
    }
    &--warning {
      background-color: color-swatches.$light-orange-17;
      border: 1px solid color-swatches.$light-orange-10;
      &::before {
        background-color: color-swatches.$light-orange-04;
      }
    }
    &__wrapper {
      margin-left: var(--spacing-xs);
      display: inline-flex;
    }
  }
}
