.color-pickers {
  &__selectors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--spacing);
    background: white;
    padding: 0 var(--spacing) var(--spacing) var(--spacing);
  }
  &__group {
    display: flex;
    flex-direction: column;
  }
  &__light-dark {
    // display: flex;
  }
  &__swatches {
    padding: var(--spacing);
  }
}
