@use "../../../../../@utahdts/utah-design-system/css/1-settings/class-vars";

#{class-vars.$base-class} {
  .color-picker {
    height: 90px;
    width: 165px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    border: 1px solid var(--gray-color);
    transition: all var(--timing-quick) ease;
    border-radius: 0;

    &:not(:last-of-type) {
      border-bottom: none;
    }

    .fixed-width-font {
      font-family: var(--fixed-width-font-family);
      font-size: var(--font-size-s);
    }

    &.selected {
      box-shadow: 0 4px 10px 4px rgba($color: black, $alpha: 0.7);
      outline: 4px solid var(--form-ele-color);
      outline-offset: 4px;
      z-index: 1;
    }

    &__hex-color {
      display: flex;
      gap: var(--spacing-2xs);
    }
    &__contrast {
      border: 1px solid currentColor;
      margin-top: -17px;
      line-height: 18px;
    }
    &__ratio {
      padding: 0 var(--spacing-2xs);
    }
    &__rating {
      padding: 0 var(--spacing-2xs);
    }

    &__foreground {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
      gap: var(--spacing-2xs);
      margin-top: 5px;
    }
    &__foreground-box {
      width: 1.1rem;
      height: 1.1rem;
    }

    hr {
      border-color: currentColor;
      margin: 15px 0 5px;
    }

    .input-wrapper {
      margin: 0;
    }
    input[type="text"].color-picker__hex-color-input {
      background: transparent;
      border: none;
      box-shadow: none;
      box-sizing: border-box;
      color: currentColor;
      min-height: auto;
      outline: none;
      padding: 0;
      text-align: center;
      width: 75px;
      border-radius: 0;
      &:hover {
        border: 1px solid white;
      }
    }

    &--light {
      color: var(--gray-color);
    }

    @at-root #{class-vars.$primary-color-is-light}#{&}.primary-color-background {
      color: var(--gray-on-primary-color);
    }
    @at-root #{class-vars.$secondary-color-is-light}#{&}.secondary-color-background {
      color: var(--gray-on-secondary-color);
    }
    @at-root #{class-vars.$accent-color-is-light}#{&}.accent-color-background {
      color: var(--gray-on-accent-color);
    }
  }
}
