@use "../../../../../@utahdts/utah-design-system/css/1-settings/class-vars";

/*
############     _color-contrast.scss      ############
*/
.color-contrasts__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-xs);

  .color-contrasts__instructions {
    text-align: center;
  }

  .color-contrasts__color-swatches {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--spacing-xs);
  }
}
