.color-pickers {
  &__wrapper {
    max-height: calc(100vh - 200px);
    overflow: scroll;
    padding-top: var(--spacing-s);
  }
  &__selectors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--spacing);
    background: white;
    padding: 0 var(--spacing) var(--spacing-2xs) var(--spacing);
  }
  &__group {
    display: flex;
    flex-direction: column;
  }
  &__swatches {
    padding: 0 var(--spacing) var(--spacing) var(--spacing);

    .tab-group__tab-button {
      font-size: var(--font-size-m);
    }
  }
}
