.form-example {
  &__errors {
    display: flex;
    flex-direction: column;
  }
  &__errors-list {
    display: flex;
    flex-direction: column;
  }
  &__eye-color-option {
    display: flex;
    gap: 0.5rem;
  }
  &__eye-color-swatch {
    height: 20px;
    width: 20px;
  }
  &__buttons {
    display: flex;
    gap: 1rem;
    justify-content: right;
    padding-bottom: var(--spacing-s);
  }
}
