@use "../../../../../@utahdts/utah-design-system//css/1-settings/class-vars";

#{class-vars.$base-class} {
  .static-example__component-wrapper {
    .tag {
      &--primary-color {
        background-color: var(--primary-color);
        color: white;
        fill: white;
      }
      &--primary-color-light {
        background-color: var(--primary-color-light);
      }
      &--selected {
        background-color: var(--gray-color);
        color: white;
        fill: white;

        &.tag--primary-color {
          background-color: var(--primary-color);
          color: white;
          fill: white;
          border: none;
        }
      }
    }
  }
}
