@use "../../../../../@utahdts/utah-design-system//css/1-settings/class-vars";

#{class-vars.$base-class} {
  // TODO: static wrapper does not seem to fit here?!
  .static-example__component-wrapper {
    .tag {
      // TODO: what about the other colors?
      &--primary-color {
        background-color: var(--primary-color);
        color: white;
        fill: white;
      }
      &--primary-color-light {
        background-color: var(--primary-color-light);
      }
      &--selected {
        background-color: var(--gray-color);
        color: white;
        fill: white;

        &.tag--primary-color {
          background-color: var(--primary-color);
          color: white;
          fill: white;
          border: none;
        }
      }
    }
  }
}
