@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.typography {
  &__font-family {
    display: flex;
    gap: var(--spacing);
  }
  &__font-demo {
    font-size: var(--font-size-xl);
    flex: 1 1 0;
    background: var(--gray-light-color);
    padding: var(--spacing);
  }
  &__font-name {
    font-size: var(--font-size);
    border-top: 1px solid var(--gray-3-1-contrast);
    padding-top: var(--spacing-s);
    margin-top: var(--spacing-s);
  }
  &__lora-font {
    font-family: 'Lora', serif;
    font-size: calc(var(--font-size-xl) - 0.15em);
    line-height: 1.57;
    &.normal {
      font-size: calc(var(--font-size) - 0.05em);
    }
  }
  &__source-code-pro {
    font-family: var(--fixed-width-font-family);
    font-size: calc(var(--font-size-xl) - .25em);
  }
  &__roboto-font {
    font-family: 'Roboto', sans-serif;
  }
  &__merriweather-font {
    font-family: 'Merriweather', serif;
    font-size: calc(var(--font-size-xl) - 0.15em);
    line-height: 1.57;
  }
  &__roboto-mono-font {
    font-family: 'Roboto Mono', var(--fixed-width-font-family), monospace;
    font-size: calc(var(--font-size-xl) - .25em);
  }
  &__light-font {
    font-weight: var(--font-weight-extra-light);
  }
  &__black-font {
    font-weight: var(--font-weight-black);
  }
  &__arial-font {
    font-family: Arial, Helvetica, sans-serif;
  }
}
