@use "../../../1-settings/class-vars";
@use "../../../1-settings/color-swatches";

#{class-vars.$base-class} {
  .main-menu {
    &__wrapper {
      background-color: var(--gray-light-color);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 var(--spacing-l) 0 var(--spacing-xs);

      .utds-icon-before-search::before {
       font-size: 1rem;
      }
    }

    .menu-item__search {
      margin-left: auto;
    }
  }

  .horizontal-menu {
    &>ul {
      list-style-type: none;
      display: flex;
      padding: 0;
      li {

        .menu-item__title {
          position: relative;
        }

        a, button {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: var(--gray-color);
          padding: var(--spacing-3xs) var(--spacing);
          margin: var(--spacing-xs) 0;
          border-radius: 999px;
          transition: all var(--timing-quick) ease-in-out;
          position: relative;
          box-sizing: border-box;
          font-size: var(--font-size);
          font-weight: var(--font-weight-semi-bold);
          min-height: auto;
          line-height: 1.7;

          .icon-chevron-down {
            font-size: 1rem;
            margin-right: -2px;
          }

          &:hover {
            color: black;
            box-shadow: inset 0 0 0 1000px var(--hover-gray-color);
          }

          &.menu-item--selected + span.menu-chiclet {
            &::after {
              content: "";
              width: 100%;
              height: var(--spacing-2xs);
              background: var(--primary-color);
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              border-bottom-left-radius: var(--spacing-2xs);
              border-bottom-right-radius: var(--spacing-2xs);
              outline: none;
              outline-offset: 0;
            }
          }

          .menu-item__search-icon {
            font-size: var(--font-size-l);
            line-height: 1rem;
          }
        }
      }
    }
  }
}
