@use "../../../1-settings/class-vars";

#{class-vars.$base-class} {
  .menu-item {

    &__title {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &__button-title {
      border: none;
      padding: 0;
      background: none;
      &:hover {
        background: none;
        color: var(--primary-color);
      }
    }
    a {
      text-decoration: none;
      color: var(--gray-color);
      &.menu-item--selected {
        color: var(--primary-color);
      }
    }
    &__chevron {
      transform: rotate(-90deg);
      svg {
        width: 10px;
        height: 10px;
      }
      &--open {
        transform: rotate(0deg);
      }
    }
    &__sub-menu {
      display: none;
      &--open {
        display: block;
      }
    }
  }
}
