.menu-item {
  
  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__chevron {

  }
	&__sub-menu {
    display: none;
    &--open {
      display: block;
    }
  }
}
