
@use "../../../../../../@utahdts/utah-design-system/css/1-settings/class-vars";

#{class-vars.$base-class} {
  .pre-code {
    &__wrapper {
      position: relative;
      width: 100%;
    }
  }

  pre {
    position: relative;
    font-family: var(--fixed-width-font-family);
    font-size: .95rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0 0 var(--spacing) 0;
    &.gray-block {
      background: var(--gray-light-color);
      padding: var(--spacing-s) var(--spacing-3xl) var(--spacing-s) var(--spacing);
      border-radius: var(--radius-medium);
    }
    &.pre-code {
      &--overflow {
        width: 100%;
        overflow-x: scroll;
        box-sizing: border-box;
      }
      &--padded {
        padding: 0 var(--spacing);
      }
    }
    .pre-code__overflow-content {
      width: max-content;
    }
  }
  .pre-code {
    &__wrapper {
      .copy-button .icon-button--borderless {
        background: var(--gray-light-color);
        &:hover {
          background: white;
        }
      }
    }
  }
}
