/*
############     _spacing.scss      ############
8px horizontal spacing 
*/

$spacing8: 8px;
$spacing16: 16px;
$spacing24: 24px;
$spacing32: 32px;
$spacing48: 48px;
$spacing64: 64px;
$spacing80: 80px;