@use "../../../../../../@utahdts/utah-design-system/css/1-settings/media-size-vars";

.home-banner {
  width: 100%;
  background: url('../static/images/laptop-background.webp') no-repeat 100% center;
  background-size: cover;

  &__title {
    color: white;
    font-size: var(--font-size-6xl);
    font-weight: bold;
    width: 250px;
    border-radius: var(--radius-large);
    margin: var(--spacing-3xl);
    padding: var(--spacing-l);
    line-height: 1.2;
  }

}
.home-version {
  font-size: var(--font-size-2xs);
  text-align: center;
}

@media screen and (max-width: #{media-size-vars.$media-size-mobile}) {
  .home-banner {
    &__title {
      font-size: var(--font-size-5xl);
      width: min-content;
      margin: var(--spacing-xl);
      line-height: 1.1;
    }
  }
}
