@use "../../../1-settings/class-vars";

#{class-vars.$base-class} {
  .tab-group {
    &__tab {
      &--selected {
        background: red;
      }
    }
    &__panel {
      display: none;
      &--selected {
        display: block;
      }
    }
  }
}
