@use "../../../1-settings/class-vars";

#{class-vars.$base-class} {
  .on-this-page {
    font-size: var(--font-size-xs);
    &__header {
      font-size: var(--font-size);
      font-weight: bold;
    }
    &__list {
      list-style-type: none;
      padding: 0;
      margin-left: calc(0px - var(--spacing));


      ul {
        margin-left: var(--spacing);

        // do we want a line?
        // &:first-of-type {
        //   border-left: 1px solid #DBDBDB;
        // }
        a {
          padding-left: var(--spacing-l);
        }
      }
      a {
        text-decoration: none;
        color: var(--gray-color);
        padding: var(--spacing-2xs) var(--spacing);
        display: block;
        // margin-left: calc(0px - var(--spacing));
        margin-right: calc(0px - var(--spacing));
        border-radius: var(--radius-circle);
        &:hover {
          box-shadow: inset 0 0 0 1000px var(--hover-gray-color);
        }
      }
    }
  }
}
