
input[type="checkbox"] {
	width: var(--form-checkbox-medium);
	height: var(--form-checkbox-medium);
	position: relative;
  border-radius: var(--radius-xsmall);
	border: 1px solid var(--gray-color);
	background-color: white;
  box-sizing: border-box;
	appearance: none;

	&::after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		box-shadow: var(--hover-gray-color) 0 0 0 0;
		border-radius: var(--radius-circle);
		transition: box-shadow var(--timing-xquick) ease-in-out;
		z-index: -1;
	}
	&:hover {
		&::after {
			box-shadow: var(--hover-gray-color) 0 0 0 7px;
		}
  }

  &::before {
    content: '';
    display: block;
    background: var(--form-ele-color);
    background-image: var(--icon-check-mark-light);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
		border-radius: var(--radius-xsmall);
    width: 100%;
    height: 100%;
	  // border: 1px solid var(--gray-color);
    // box-sizing: border-box;
    opacity: 0;
    transform: scale(0.5);
  }
	&:checked {
    border-width: 0;
    background-color: var(--form-ele-color);
    // transition: background-color var(--timing-quick) ease;
    &::before {
      opacity: 1;
      transform: scale(1);
      transition: transform var(--timing-quick) ease, opacity var(--timing-quick) ease;
    }
	}
}
.input-wrapper {
	&--checkbox {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: center;
		position: relative;
		z-index: 1;
	}
	label {
		padding: 0 0 0 var(--spacing-2xs);
	}
}
