select {
	min-height: var(--form-ele-medium);
  border-radius: var(--radius-small);
  box-sizing: border-box;
  border: 1px solid var(--gray-color);
  width: 100%;
  padding: 0 var(--spacing-xs);
  box-sizing: border-box;
	appearance: none;
}
