/*
############     _class-vars.scss      ############
CSS Classes - SCSS Variables
*/

$base-class: ".utah-design-system";

$primary-color-is-light: ".primary-color-is-light";
$secondary-color-is-light: ".secondary-color-is-light";
$accent-color-is-light: ".accent-color-is-light";
$color-is-light: ".color-is-light";
