/*
############     _media-size-vars.scss      ############
Media Sizes - SCSS Variables
*/

$media-size-mobile: 640px;
$media-size-tablet-portrait: 768px;
$media-size-tablet-landscape: 1024px;
$media-size-desktop-small: 1200px;
$media-size-desktop-medium: 1440px;
$media-size-desktop-large: 1920px;
