@use "sass:meta";
/*
BEM standard: Block, Element, Modifier
   Block: use dashes to separate words:
     - my-react-component
     - super-list
     - cats-r-great
  Element: use two underscores for elements
    Elements are children at any level of the Block:
    - my-react-component__block
    - super-list__name
    - super-list__info
    - cats-r-great__whiskers
  Modifier: use two dashes for modifiers
    - my-react-component--alt
    - super-list--flat
    - cats-r-great--black
 */


// normalize.css
// @include meta.load-css("./3-generic/normalize.css");

// variables and settings
@forward "1-settings/settings-index";
@include meta.load-css("1-settings/settings-index");

// mixins, functions
@include meta.load-css("2-tools/tools-index");

// css resets, etc.
@include meta.load-css("3-generic/generic-index");

// elemental html: h1, h2, h3, ul, li, etc.
@include meta.load-css("4-elements/elements-index");

// containers and general design patterns, 2up, 3up etc
@include meta.load-css("5-objects/objects-index");

// component specific, BEM
// @media for each component should be contained with the component.
@include meta.load-css("6-components/components-index");

// utility classes
@include meta.load-css("7-utilities/utilities-index");

// overall theme options for the above
@include meta.load-css("8-super/super-index");

// test css, temporary css,
// this css should eventually be categorized above
@include meta.load-css("9-tip/tip-index");

