/*
BEM standard: Block, Element, Modifier
  Block: use dashes to separate words:
    - my-react-component
    - super-list
    - cats-r-great
  Element: use two underscores for elements
    Elements are children at any level of the Block:
    - my-react-component__block
    - super-list__name
    - super-list__info
    - cats-r-great__whiskers
  Modifier: use two dashes for modifiers
    - my-react-component--alt
    - super-list--flat
    - cats-r-great--black
 */

// variables and settings
@forward "1-settings/settings-index";
@use "1-settings/settings-index";

// mixins, functions
@use "2-tools/tools-index";

// css resets, etc.
@use "3-generic/generic-index";

// elemental html: h1, h2, h3, ul, li, etc.
@use "4-elements/elements-index";

// containers and general design patterns, 2up, 3up etc
@use "5-objects/objects-index";

// component specific, BEM
// @media for each component should be contained with the component.
@use "6-components/components-index";

// utility classes
@use "7-utilities/utilities-index";

// overall theme options for the above
@use "8-super/super-index";

// test css, temporary css,
// this css should eventually be categorized above
@use "9-tip/tip-index";
