/*
BEM standard: Block, Element, Modifier
 	Block: use dashes to separate words:
 		- my-react-component
 		- super-list
 		- cats-r-great
	Element: use two underscores for elements
		Elements are children at any level of the Block:
		- my-react-component__block
		- super-list__name
		- super-list__info
		- cats-r-great__whiskers
	Modifier: use two dashes for modifiers
		- my-react-component--alt
		- super-list--flat
		- cats-r-great--black
 */

// variables and settings
@import "./1-settings/settings-index";

// mixins, functions
@import "./2-tools/tools-index";

// normalize.css
@import "./3-generic/normalize.css";

// css resets, etc.
@import "./3-generic/generic-index";

// elemental html: h1, h2, h3, ul, li, etc.
@import "./4-elements/elements-index";

// containers and general design patterns, 2up, 3up etc
@import "./5-objects/objects-index";

// component specific, BEM
// @media for each component should be contained with the component.
@import "./6-components/components-index";

// utility classes
@import "./7-utilities/utilities-index";

// overall theme options for the above
@import "./8-super/super-index";

// test css, temporary css,
// this css should eventually be categorized above
@import "./9-tip/tip-index";