/*
############     _elements-index.scss      ############
elemental html: h1, h2, h3, ul, li, etc.
*/

& {
	margin: 0;
	font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: white;
}

code {
	font-family: 'Courier New', monospace;
}
