/* @media is never in scope for --variables, so this is the only way to solve this. :-( */

@media screen and (max-width: media-size__tablet-landscape__PLACEHOLDER) {
  /* put your media query here for tablet landscape */
  .utah-design-system .search-modal__input {
    width: 75vw;
  }
}

@media screen and (max-width: media-size__tablet-portrait__PLACEHOLDER) {
  .utds-header {
    height: 60px;
    padding: var(--spacing-xs) var(--spacing);
  }
  .utds-title-wrapper {
    font-size: var(--font-size-xl);
  }
  .utds-citizen-experience-wrapper {
    display: none;
  }
  .utah-design-system .main-menu__wrapper {
    padding: 0 var(--spacing);
  }
  .utah-design-system .main-menu__nav {
    display: none;
  }
  .utah-design-system.utds-header-mobile-menu,
  .utah-design-system .utds-header-mobile__utah-id-wrapper {
    display: block;
  }
  .utah-design-system .icon-button.main-menu__hamburger,
  .utah-design-system .utds-header-mobile__vip-action-items--left,
  .utah-design-system .utds-header-mobile__vip-action-items--right {
    display: flex;
  }

  .utah-design-system .search-modal__input {
    width: 75vw;
    padding: var(--spacing) var(--spacing) var(--spacing) var(--spacing-3xl);
  }
  .utah-design-system .search-modal__button-wrapper {
    right: unset;
    left: 50%;
    transform: translateX(-50%) translateY(110%);
  }

  .utah-design-system .utds-official-website-popup__content {
    flex-wrap: wrap;
    gap: var(--spacing-l);
  }
  .utah-design-system .utds-official-website-popup__col {
    width: 100%;
  }
}

@media screen and (max-width: media-size__mobile__PLACEHOLDER) {
  /* put your media query here for mobile */
}
