@use "../../../1-settings/class-vars";
@use "../../../1-settings/media-size-vars";

#{class-vars.$base-class} {
  .documentation-template {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: var(--content-width-wide);
    justify-content: center;
    align-items: flex-start;

    &__wrapper {
      display: flex;
      justify-content: center;
    }

    &__side-panel-left {
      border-right: 1px solid var(--gray-border);
      padding: var(--documentation-padding);
      width: var(--documentation-left-width);
      min-width: var(--documentation-left-width);
    }
    &__right-group {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
    &__content {
      flex: 1 1 auto;
      max-width: var(--documentation-width);
      min-width: 0;
      padding: var(--documentation-padding);

      h1 {
        margin: calc(-1 * var(--spacing-xs)) 0 0 0;
      }
      code {
        svg {
          height: 10px;
        }
      }
      table {
        .props-code-wrapper {
          display: flex;
          flex-direction: row;
          gap: var(--spacing-xs);
          flex-wrap: wrap;
        }
      }
    }
    &__side-panel-right{
      position: sticky;
      top: 0;
      border-left: 1px solid var(--gray-border);
      padding: var(--documentation-padding);
      width: var(--documentation-right-width);
      min-width: var(--documentation-right-width);
    }

  }
}

@media screen and (max-width: #{media-size-vars.$media-size-desktop-small}) {
  #{class-vars.$base-class} {
    .documentation-template {
      &__side-panel-left,
      &__side-panel-right {
        min-width: calc(var(--documentation-left-width) - 50px);
      }
      &__content {
        max-width: calc(100vw - (2 * var(--spacing-xl)) - (var(--documentation-left-width)) - (var(--documentation-right-width)) - 100px);
      }
    }
  }
}

@media screen and (max-width: #{media-size-vars.$media-size-tablet-landscape}) {
  #{class-vars.$base-class} {
    .documentation-template {
      &__right-group {
        flex-direction: column;
      }
      &__side-panel-left {
        padding: var(--documentation-padding-small);
      }
      &__content {
        order: 2;
        max-width: calc(100vw - (2 * var(--spacing)) - (var(--documentation-left-width)) - 50px);
        padding: var(--documentation-padding-small);
      }
      &__side-panel-right {
        order: 1;
        position: relative;

        // border-left: none;
        // padding-bottom: 0;

        border-left: 4px solid var(--gray-border);
        padding-bottom: 0;
        padding-top: 0;
        padding-left: var(--spacing);
        margin-left: var(--spacing);
        margin-top: var(--spacing-xl);
      }
    }
  }
}
@media screen and (max-width: #{media-size-vars.$media-size-tablet-portrait}) {
  #{class-vars.$base-class} {
    .documentation-template {
      &__side-panel-left {
        display: none;
      }
      &__content {
        max-width: calc(100vw - (2 * var(--spacing)));
      }
    }
  }
}
