@use "../../../1-settings/class-vars";

#{class-vars.$base-class} {
  .landing-page-template {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: var(--spacing-xl);

    .content-width {
      max-width: var(--content-width-narrow);
    }
  }
}
