@use "../../../1-settings/class-vars";

#{class-vars.$base-class} {
  fieldset {
    border: none;
    padding: 0;

    legend {
      margin-bottom: var(--spacing-xs);
    }

    .input-wrapper:last-of-type {
      margin: 0 0 var(--spacing-xs) 0;
    }
  }
}
