@use "../../../1-settings/class-vars";

#{class-vars.$base-class} {
  input.input,
  .input {
    &--height-small {
      min-height: var(--form-ele-small);
    }

    &--height-small1x {
      min-height: var(--form-ele-small1x);
    }
  }
}
