@use "../../../1-settings/class-vars";

#{class-vars.$base-class} {
  .input-wrapper {
    margin: 0 0 var(--spacing-s) 0;
    .form.form--stacked & {
      display: flex;
      flex-direction: column;
      gap: 3px;
      align-items: flex-start;
    }
    &--switch {
      margin: var(--spacing) 0 var(--spacing-2xs) 0;
    }

    &--mb-zero {
      margin: 0;
    }

    &__error-message {
      margin-top: var(--spacing-3xs);
      color: var(--danger-color);
    }
    input,
    textarea {
      display: block;
    }
  }
  .required-star {
    color: var(--danger-color);
    margin-left: var(--spacing-3xs);
    vertical-align: sub;
    display: inline-block;
    font-size: var(--font-size-l);
    line-height: 0.5;
  }
}
