@use "../../../1-settings/class-vars";

#{class-vars.$base-class} {
  .input-wrapper {
    margin: 0 0 var(--spacing-s) 0;
    .form.form--stacked & {
      display: flex;
      flex-direction: column;
      gap: 3px;
      align-items: flex-start;
    }
    &--switch {
      margin: var(--spacing) 0 var(--spacing-2xs) 0;
    }
  }
}
