@use "../../../2-tools/tools-index";

@use "../../../1-settings/class-vars";

#{class-vars.$base-class} {
  input[type="text"],
  textarea {
    color: var(--gray-color);
    min-height: var(--form-ele-medium);
    border-radius: var(--radius-small);
    box-sizing: border-box;
    border: 1px solid var(--gray-color);
    width: 100%;
    padding: 0 var(--spacing-xs);

    @include tools-index.form-ele-hover-medium;
    @include tools-index.form-ele-focus;

    &:disabled {
      background-color: var(--disabled-gray);
      cursor: not-allowed;
    }
  }

  textarea {
    padding: var(--spacing-xs);
  }
}
