/*
############     _elements-index.scss      ############
elemental html: h1, h2, h3, ul, li, etc.
*/
@use "../1-settings/class-vars";

#{class-vars.$base-class} {
	margin: 0;
	font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.3;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: white;
  color: var(--gray-color);

  h1 {
    font-size: var(--font-size-4xl);
    margin: 0;
  }
  h2 {
    font-size: var(--font-size-3xl);
    margin: 0;
  }
  h3 {
    font-size: var(--font-size-2xl );
    font-weight: var(--font-weight-normal);
    margin: 0;
  }
  h4 {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-normal);
    margin: 0;
  }
  h5 {
    font-size: var(--font-size);
    margin: 0;
  }
  h6 {
    font-size: var(--font-size);
    margin: 0;
  }

  p {
    margin: 0 0 var(--spacing-l);
  }

  code {
    font-family: 'Source Code Pro', monospace;
    font-size: .95em;
    background: var(--code-color);
    padding: var(--spacing-3xs) var(--spacing-xs);
    border-radius: var(--radius-small1x);
    &.primary-color {
      color: var(--primary-color);
      background: var(--primary-color-light);
    }
  }
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  ul {
    list-style-type: disc;
    padding: 0 0 0 var(--spacing-2xl);
    margin: 0;
    line-height: 1.7;
  }

  hr {
    height: 0;
    width: 100%;
    border: none;
    border-top: 1px solid var(--gray-border);
  }

  a[href] {
    color: var(--primary-color);
    // display: inline-block;
    &:hover {
      // background-color: var(--hover-gray-color);
      box-shadow: 0 0 0 2px var(--hover-gray-color), inset 0 0 0 1000px var(--hover-gray-color);
    }
  }
}
