table {
  border-collapse: collapse;
  thead {
    border-bottom: 1px solid var(--gray-color);
    tr {
      th {
        text-align: center;
        vertical-align: bottom;
        font-weight: bold;
        padding: var(--spacing-s);
        &.text-left {
          text-align: left;
        }
        &.text-right {
          text-align: right;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        vertical-align: top;
        padding: var(--spacing-s);
      }
    }
  }
  &.table {
    &--alt {
      tbody {
        tr:nth-child(2n) {
          td {
            background-color: #F5F5F5;
          }
        }
      }
    }
    &--lines-x {
      tbody {
        tr {
          td {
            border-bottom: 1px solid var(--gray-3-1-contrast)
          }
        }
        tr:last-child {
          td {
            border-bottom: 1px solid var(--gray-color)
          }
        }
      }
    }
    &--v-align-center {
      tbody {
        tr {
          td {
            vertical-align: middle;
          }
        }
      }
    }
    &--condensed {
      thead {
        tr {
          th {
            padding: var(--spacing-2xs);
          }
        }
      }
      tbody {
        tr {
          td {
            padding: var(--spacing-2xs);
          }
        }
      }
    }
  };
}
