on:
  # Trigger analysis when pushing in master or pull requests, and when creating a pull request.
  push:
    branches:
      - dev
  pull_request:
    types: [ opened, synchronize, reopened ]
name: DEV SonarCloud Scan
jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
      - name: Build
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - run: cd library
      - run: npm install
      - run: npm run test:ci
        
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
